name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*' 

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache Gradle dependencies
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: gradle-deps-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            gradle-deps-${{ runner.os }}-

      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '17'
          cache: 'gradle'

      - name: Build with Gradle
        run: |
          ./gradlew clean build --no-daemon

      - name: Run Tests
        run: |
          ./gradlew test --no-daemon                    
